
.tab-header-area {
  -fx-padding: 0 0 0 43 ;
}
 

.jpc-container {
	-fx-padding: 10;
	-fx-font-weight: normal;
}

.jpc-query-browser-pane {
	-fx-spacing: 10;
}

.jpc-title {
	-fx-font-size: 14pt;
	-fx-font-weight: bold;
	-fx-underline: false;
}

.jpc-title:visited {
	/*
	 * To avoid changing the color when the title link has been visited
	 */
    -fx-text-fill: -fx-text-background-color;
}


.jpc-grid {
    -fx-hgap: 15;
    -fx-vgap: 10;
}

.jpc-hbox {
    -fx-spacing: 15;
}

.jpc-vbox {
    -fx-spacing: 10;
}

.jpc-section {
	-fx-padding: 0 0 0 10;
}

.jpc-list {
	/*
	 * this styles are not working
	-fx-pref-width: 130;
	-fx-pref-height: 100;
	 */
}

.jpc-list-label {
	/*
	-fx-font-weight: bold;
	-fx-font-style: italic;
	-fx-font: italic 14pt "Verdana";
	*/
}

.jpc-toolbar-container {
	-fx-spacing: 10;
}

.jpc-toolbar-group-pane {
	-fx-spacing: 2;
}

.jpc-query-status {
	-fx-text-fill: rgb(49, 89, 23);
}

/**
 * TODO delete?
 */
.jpc-prolog-engine-item {
	-fx-spacing: 8;
}

.jpc-query-tab-header {
	-fx-spacing: 8;
}

.jpc-image-button {
	-fx-background-color: transparent;
}

.jpc-button {
	-fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}


.jpc-footer {
	-fx-background-color: RGB(232,232,232);
	-fx-padding: 10,0,10,0;
}

.jpc-about-driver-footer-link {
	-fx-underline: true;
	-fx-text-fill: darkblue;
	-fx-font-size: 10pt;
}


.jpc-driver-name-label {
	-fx-font: bold 24pt "Trebuchet MS";
	-fx-text-fill: dimgrey;
}

.jpc-driver-description-label {
	-fx-font: 12pt "Helvetica";
	-fx-font-weight: normal;
}



.jpc-query-browser-launcher {
	-fx-background-color: aliceblue;
}
