
.jpc-container {
	-fx-padding: 10;
	-fx-font-weight: normal;
}

.jpc-query-browser-pane {
	
}

.jpc-title {
	-fx-font-size: 15pt;
	-fx-font-weight: bold;
}

.jpc-grid {
    -fx-hgap: 15;
    -fx-vgap: 10;
}


.jpc-list {
	/*
	 * this styles are not working
	-fx-pref-width: 130;
	-fx-pref-height: 100;
	 */
}

.jpc-list-label {
	/*
	-fx-font-weight: bold;
	-fx-font-style: italic;
	-fx-font: italic 14pt "Verdana";
	*/
}


.jpc-button-pane {
	-fx-spacing: 8;
}

.jpc-button {
	-fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}


.jpc-about-driver-footer {
	-fx-background-color: RGB(232,232,232);
	-fx-padding: 10;
}

.jpc-about-driver-footer-link {
	-fx-underline: true;
	-fx-text-fill: darkblue;
	-fx-font-size: 11pt;
}

.jpc-driver-name-label {
	-fx-font: bold 30pt "Trebuchet MS";
	-fx-text-fill: dimgrey;
}

.jpc-driver-description-label {
	-fx-font: 14pt "Helvetica";
	-fx-font-weight: normal;
}






.jpc-query-browser-launcher {
	-fx-background-color: aliceblue;
}
